extends mail_layout
block content
    // - context: after 15 min
    // - subject: {{ user.first_name }}, what went wrong ?
    // - from: Claire at Neptune Prime
    +title(`Hello ${user.first_name},`)
    +line(`You're receiving this email as an attempt to your behalf to reset the password for your account. (${user.phone_number})`)
    +line("If you did not requested so, no action is required from you otherwise you can reset your password here.")
    +line("Click the button below to complete the password reset process.")
    +action({ link: passwordResetUrl, label: 'Reset password' })
    +lineBreak()
    +line("This link expires in 6 hours. If your link has expired, you can request a new one.")
    +action({ link: passwordForgotUrl, label: 'Request a new one' })
